<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="loggerBean" class="by.dima.model.log.LoggerWrapper" init-method="initLogger"
          destroy-method="destroyLogger"/>


    <bean id="server" class="by.dima.model.server.ServerUDPNonBlocking">
        <property name="logger" value="#{loggerBean.logger}"/>
    </bean>
    <bean id="execute-command" class="by.dima.model.server.executor.ExecuteCommand">
        <property name="logger" value="#{loggerBean.logger}"/>
    </bean>

    <bean id="route-parser" class="by.dima.model.server.request.parser.RouteParserFromJson">
        <property name="logger" value="#{loggerBean.logger}"/>
    </bean>
    <bean id="bytes-parser" class="by.dima.model.server.request.serealizible.ParserBytesToCommandDTO">
        <property name="logger" value="#{loggerBean.logger}"/>
    </bean>
</beans>